.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  @media (min-width: 768px){
    .fixed-top {
      position: static;
     }
     #artTitle{
        margin-top: 100px;
     }
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }