.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .col-4 {
    flex: 25%;
    max-width: 33.3%;
    padding: 0 4px;
  }
  
  .col-4 img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
  }
  .col-4 img:hover {
    filter: grayscale(1);
  }

  .arrow {
    border: solid bisque;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  @media screen and (max-width: 800px) {
    .col-4 {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .col-4 {
      flex: 100%;
      max-width: 100%;
    }
    .col-4 img {
      filter: grayscale(0) brightness(1);
    }
  }
  